@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
//Roboto

* {
  font-family: roboto;
  color: black;
  margin: 0;
  padding: 0;
}

header {
  height: 10vh;
  display: grid;
  place-items: center;
  border: 2px solid black;
  margin: 25px;
  border-radius: 10px;

  h1 {
    color: black;
    font-size: 24px;
  }
}

.selectSize {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  input {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-left: 19px;
  }
}

.canvas {
  display: grid;
  height: 400px;
  width: 400px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
}

footer {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .blackbtn,
  .randombtn,
  .resetbtn {
    margin: 49px;
    padding: 15px;
  }

  .blackbtn {
    border: none;
    background-color: rgb(75, 75, 75);
    color: white;
    border-radius: 5px;
  }

  .randombtn {
    color: white;
    border: none;
    background-image: linear-gradient(
      to right,
      rgb(65, 130, 252),
      rgb(255, 62, 62)
    );
    border-radius: 5px;
  }

  .resetbtn {
    border: none;
    background-color: rgb(86, 111, 255);
    color: white;
    border-radius: 5px;
  }
}
